services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: se_test
      MYSQL_USER: se_shamir
      MYSQL_PASSWORD: se_pass
      MYSQL_ROOT_PASSWORD: root_pass

  redis:
    image: redis:7-alpine

  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
